<mat-card>
  <mat-card-content>
    <h2>Raw Value of the Position:</h2>
  </mat-card-content>
  <pre>
    {{data | json}}
  </pre>
  <p>
    The value has type
    <strong>{{valueType}}</strong>
  </p>
</mat-card>
