<mat-card>
  <mat-card-content>
    <h2>Delete Entry</h2>
  </mat-card-content>
  <p> Are you sure you want to delete this entry?</p>
  <pre>
  {{data.key}} : {{data.value | json}}
  </pre>
  <mat-card-actions>
    <button mat-button
      [mat-dialog-close]="deleteEntry()"
      tabindex="2"
      color="accent"
      mat-button>Delete</button>
  </mat-card-actions>
</mat-card>
