.no-entries-wrapper {
  text-align: center;
  mat-icon {
    font-size: 15vh;
    width: 15vh;
  }
}
mat-toolbar {
  padding: 0 5%;
}
.spacer {
  display: flex;
  width: 100%;
}
mat-card {
  padding: 0 0 2rem 0;
  margin-top: 5rem;
}
.storage-enrty {
  &:first-child {
    cursor: default;
  }
  &:hover {
    background: #f7f7f7;
  }
  span {
    padding: 1rem 3rem;
    transition: 0.3s;
    text-overflow: ellipsis;
    overflow: hidden;
    &.entry-value {
      cursor: pointer;
    }
  }
}
content {
  width: 100%;
}
.entry-option,
.storage-headers {
  padding: 0 3rem;

  &:first-child {
    padding: 0;
  }
}
button {
  text-transform: uppercase;
}

span {
  .bold {
    font-weight: 600;
  }
  .button-wrapper {
    margin-bottom: 10vh;
  }
}
a {
  display: flex;
  color: inherit;
  text-decoration: none;
}
