<mat-toolbar color="primary">
  <p>
    Simple KV Storage Web UI
  </p>
  <div class="spacer"></div>
  <a target="_blank"
    matTooltipPosition="left"
    matTooltip="Show on Gitlab"
    href="https://gitlab.com/kv-storage/frontend">
    <mat-icon svgIcon="git"></mat-icon>
  </a>
</mat-toolbar>

<article>
  <div class="wrapper"
    fxLayout="column">
    <content fxLayout="row"
      fxLayoutAlign="space-around center">
      <mat-card fxFlex="90"
        fxFlex.lg="60"
        fxFlex.xl="70">
        <div class="entries-wrapper"
          *ngIf="storage.length;else noEntries">
          <div class="table-wrapper">
            <div class="storage-enrty"
              fxLayout="row">
              <span fxFlex
                fxFlex="30"
                class="entry-key bold">Key</span>
              <span fxFlex
                class="entry-value bold">Value</span>
              <span fxFlex
                fxFlex="20"
                class="entry-value bold">Options</span>
            </div>
            <div class="storage-enrty"
              *ngFor="let entry of storage;trackBy: trackByFn"
              [@newPositionAnimation]
              fxLayout="row">
              <span fxFlex
                fxFlex="30"
                class="entry-key">{{entry.key}}</span>
              <span fxFlex
                (click)="detailedEntry(entry)"
                fxFlex="50"
                class="entry-value">{{entry.value}}</span>
              <span fxFlex
                fxFlex="20"
                class="entry-options"
                fxLayout="row">
                <div class="entry-option">
                  <mat-icon (click)="editEntry(entry)"
                    matTooltipPosition="left"
                    matTooltip="Update">
                    update
                  </mat-icon>
                </div>
                <div class="entry-option">
                  <mat-icon (click)="deleteEntry(entry)"
                    matTooltipPosition="right"
                    matTooltip="Delete">
                    delete
                  </mat-icon>
                </div>


              </span>
            </div>
          </div>

        </div>

        <ng-template #noEntries>
          <div class="no-entries-wrapper">
            <mat-icon>code</mat-icon>
            <h1>There are no entries in the KV Storage</h1>
            <p>Add one to view the list</p>
          </div>
        </ng-template>

      </mat-card>
    </content>
    <div class="button-wrapper"
      fxLayout="row"
      fxLayoutAlign="space-around center">
      <button fxFlex="90"
        fxFlex.lg="60"
        fxFlex.xl="70"
        mat-raised-button
        color="primary"
        (click)="addEntry()">Add Entry</button>
    </div>

  </div>
</article>
