<mat-card>
  <mat-card-header>
    <h2 *ngIf="!data;else editTitle">Add Position</h2>
    <ng-template #editTitle>
      <h2>Update Key's value</h2>
    </ng-template>
  </mat-card-header>
  <mat-card-content>

    <div class="dialog-wrapper"
      fxLayout="row"
      fxLayoutAlign="space-around center">
      <div class="key-name">
        <mat-form-field class="example-full-width">
          <input matInput
            [disabled]="!!data"
            [(ngModel)]="enrtyPositionName"
            placeholder="Key Name">
        </mat-form-field>
      </div>
      <div class="value-type">
        <mat-form-field>
          <mat-select #selectedType
          (valueChange)="selectedTypeChange($event)"
            [value]="valueType || 'string'"
            placeholder="Value Type">
            <mat-option *ngFor="let type of availableTypes"
              [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="value-data"
        [ngSwitch]="selectedType.value">
        <mat-slide-toggle (change)="booleanChange($event)"
          [checked]="entryPositionValue"
          *ngSwitchCase="'boolean'">{{!!entryPositionValue}}</mat-slide-toggle>

        <mat-form-field *ngSwitchCase="'number'"
          class="example-full-width">
          <input matInput
            [(ngModel)]="entryPositionValue"
            type="number"
            placeholder="Number Value">
        </mat-form-field>
        <mat-form-field *ngSwitchDefault
          class="example-full-width">
          <input matInput
            [(ngModel)]="entryPositionValue"
            placeholder="String Value">
        </mat-form-field>

      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <button mat-button
      color="primary"
      *ngIf="!data;else editButton"
      [disabled]="!( enrtyPositionName &&  entryPositionValue !== undefined)"
      [mat-dialog-close]="assignEntry()"
      mat-button>Add</button>
    <ng-template #editButton>
      <button mat-button
        color="primary"
        [mat-dialog-close]="assignEntry()"
        [disabled]="!(enrtyPositionName &&  entryPositionValue !== undefined)"
        mat-button>Update</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
