button {
  width: 100%;
}
mat-card-actions {
  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
.key-name,
.value-type,
.value-data {
  width: 15vw;
  padding: 0 1rem;
  mat-form-field {
    width: 100%;
  }
}
mat-card-header {
  h2 {
    margin-bottom: 2rem;
  }
}
