/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~normalize.css/normalize.css";


button.mat-menu-item {
  line-height: 24px !important;
}
a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}
.mat-icon svg {
  height: 24px;
  width: 24px;
}
mat-dialog-container {
  padding: 0!important;
}
pre {
  background: #464646;
  padding: 1rem;
  color: white;
  overflow: hidden;
}
